
@import '../../general/main.scss';

.slider {
	&Container {
		margin-top: calc(-200px + 100vw + 5vh);

		@include for-desktop {
			box-sizing: border-box;
			background: #FFF;
			margin-top: calc(-122px - 100vh + 100vw);
			padding: 0px 0 20px 0;
		}

		@include for-desktop-small {
			padding-top: 240px;
		}
		
		@include for-desktop-wide {
			margin-top: calc(100px - 100vh + 100vw);
		}
	}

	&Navigation {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0;
		margin: 60px auto;
		width: fit-content;
		flex-wrap: wrap;    
		margin: auto;
		padding-bottom: 40px;

		@include for-desktop {
			margin: 10px auto;
		}

		&Max {
			width: 17px;
			height: 17px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		&Item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 20px;  
			text-align: center;
		}
		
		&Button {
			box-sizing: border-box;
			margin: 0;
			border: 3px $light-blue solid;
			border-radius: 100%;
			width: 2px;
			height: 2px;
			background: $baby-blue;

			&Active {
				border: 2px $light-blue solid;
				width: 17px;
				height: 17px;
			}
		}
	}
}