@import '../../general/main.scss';

.button {
	background: #FFF;
	height: 40px;
	-webkit-clip-path: polygon(4% 11%, 96% 0, 100% 100%, 0% 100%);
	clip-path: polygon(4% 11%, 96% 0, 100% 100%, 0% 100%);
	position: relative;
	width: 100px;
	transition: clip-path .5s linear;

	&:hover {
		-webkit-clip-path: polygon(0 0, 100% 13%, 86% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 13%, 86% 100%, 0% 100%);
	}

	&Link {
		display: inline-block;
		margin: auto;

		&.roundButton {
			border-radius: 100%;
			width: 68px;
			height: 68px;
			clip-path: none;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.NextProject {
			position: absolute;
			top: 20px;
			z-index: 2;
			left: 0;
	
			@include for-desktop {
				top: 100px;
				left: 40px;
			}
		}
	}

	&Home {
		margin: 20px auto 0;
	}

	&Text {
		color: $light-blue;
		position: absolute;
		bottom: 0%;
		left: 50%;
		transform: translate(-50%,-50%);

		&.roundButton {
			position: static;
			transform: none;
		}
	}
}