
.about-section {
	background: #FFF;
	padding: 67px 30px 180px;
	width: 97vw;
	box-sizing: border-box;
	z-index: 3;

	@include for-desktop {
		min-height: 600px;
		height: calc(100vh - 131px);
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 67px 60px 35px;
		max-width: 600px;
		width: 25vw;
	}

	&__social {
		display: none;
		bottom: 35px;
		margin-top: 100%;
		width: 100%;
		left: 0;
		justify-content: center;

		@include for-desktop {
			display: flex;
			margin-top: auto;
		}
	}

	&__title {
		margin-top: 0;

		@include Text(27px, bold, center, $coal, $firasans);

		@include for-desktop {
			width: 100%;
		}
	}

	&__description {
		font-size: 16px;
		color:  $coal;
		text-align: justify;
	}

}

.about {
	position: absolute;
	overflow: hidden;
	width: 100%;
	
	@include for-desktop {
		height: calc(100% - 87px);
	}

	&Section {
		display: flex;
		position: relative;
		flex-direction: column;
		
		@include for-desktop {
			width: 100%;
			flex-direction: row-reverse;
		}
	}

	&Image {
		position: relative;
		height: 380px;
		width: 380px;
		object-fit: cover;
		object-position: -200px;
		border-radius: 100%;
		top: 40px;
		border: 10px solid $tranquility;
		right: -20px;
		z-index: 2;
		margin-left: auto;

		@include for-desktop {
			object-position: -260px;
			top: 20vh;
			max-width: 500px;
			max-height: 500px;
			width: 380px;
			right: -130px;
		}

		@include for-desktop-wide {
			right: -100px;
			width: 60vw;
			height: 500px;
		}
	}

	&Me {
		position: relative;
		display: flex;
		flex-direction: column;

		@include for-desktop {
			flex-direction: row;
		}
	}
}