@import '../../general/main.scss';

.about-section {
	background: #FFF;
	padding: 67px 30px 180px;
	width: 97vw;
	box-sizing: border-box;

	@include for-desktop {
		min-height: 600px;
		height: calc(100vh - 131px);
		position: relative;
		display: flex;
		flex-direction: column;
		width: auto;
		padding: 67px 60px 35px;
	}

	&__social {
		display: none;
		bottom: 35px;
		margin-top: 100%;
		width: 100%;
		left: 0;
		justify-content: center;

		@include for-desktop {
			display: flex;
			margin-top: auto;
		}
	}

	&__title {
		margin-top: 0;

		@include Text(27px, bold, center, $coal, $firesans);

		@include for-desktop {
			width: 300px;
		}
	}

	&__description {
		font-size: 16px;
		color:  $coal;
		text-align: justify;

		@include for-desktop {
			max-width: 300px;
		}
	}

}

.about {
	overflow: hidden;

	&Section {
		display: flex;
		position: relative;
		flex-direction: column;

		@include for-desktop {
			flex-direction: row-reverse;
		}
	}

	&Image {
		position: relative;
		height: 380px;
		width: 380px;
		object-fit: cover;
		object-position: -200px;
		border-radius: 100%;
		top: 40px;
		border: 10px solid $tranquility;
		right: -20px;
		z-index: 2;
		margin-left: auto;


		@include for-desktop {
			object-position: -270px;
			top: 10vh;
			width: 500px;
			height: 500px;
			right: -100px;
		}
	}

	&Me {
		position: relative;
		display: flex;
		flex-direction: column;

		@include for-desktop {
			flex-direction: row;
		}
	}
}