@import '../../general/main.scss';

.about-section {
	background: #FFF;
	padding: 67px 60px 35px;
	width: 308px;

	&__title {
		margin-top: 0;

		@include Text(27px, bold, center, $coal, $firesans);
	}

	&__description {
		font-size: 16px;
		color:  $coal;
		text-align: justify;
	}

}

.about {
	overflow: hidden;
	&Section {
		display: flex;
		flex-direction: row;
		position: relative;
	}

	&Image {
		width: 500px;
		object-fit: cover;
		object-position: -200px;
		height: 500px;
		border-radius: 100%;
		position: relative;
		right: -50px;
		top: calc(50vh - 250px);
	}
}