@import '../../general/main.scss';

.title {
	font-size: 98px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;	
	margin: 0;

	&Wrapper {
		display: block;
		width: fit-content;
		text-align: center;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		margin: 20px auto;

		@include for-desktop {
			margin-top: 150px;
		}

		&About {
			margin-top: 166px;
			display: none;

			@include for-desktop {
				display: block;
			}
		}
	}

	&Text {
		font-family: 'Open Sans', sans-serif;
		font-size: 28px;
		margin: 0 0 10px 0;
		padding: 0 30px;
		font-size: 22px;

		@include for-tablet {
			padding: 0;
		}
	}
}

.btn {
	height: 40px;
	width: 100px;
}