@import '../../general/main.scss';

.title {
	font-size: 98px;
	font-family: $firasans;	
	margin: 0;

	&Wrapper {
		display: block;
		width: fit-content;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		margin: auto;

		@include for-desktop {
			padding-top: 150px;
		}

		&About {
			margin-top: 100px;
			display: none;
			z-index: 3;
			padding-top: 0;

			@include for-desktop {
				display: block;
				position: absolute;
				left: 50%;
				transform: translate(-50%,-50%);
				top: 150px;
			}
		}
	}

	&Text {
		font-family: 'Open Sans', sans-serif;
		font-size: 28px;
		margin: 0 0 10px 0;
		padding: 0 30px;
		font-size: 22px;

		@include for-tablet {
			padding: 0;
			white-space: nowrap;
		}
	}
}

.btn {
	height: 40px;
	width: 100px;
}