@import '../../general/main.scss';

.social {
	background: $light-blue;
	padding: 10px;
	border-radius: 100%;
	display: none;

	@include for-desktop {
		display: inline-block;
		margin: 0 8px;
	}

	&Icon {
		height: 18px;
		width: 18px;
		box-sizing: border-box;
	}
}