
.social {
	padding: 10px;
	border-radius: 100%;
	margin: 0 8px;
	background: $white;
	cursor: pointer;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	@include for-desktop {
		background: $light-blue;
		border: 1px solid transparent;

		&:hover {
			background: $white;
			border: 1px $light-blue solid;
			box-sizing: border-box;

			svg {
				color: $light-blue;
			}
		}
	}

	&Icon {
		height: 18px;
		width: 18px;
		box-sizing: border-box;
	}

	svg {
		color: $light-blue;

		@include for-desktop {
			color: $white;
		}
	}
}

.copyText {
	position: fixed;
	top: 100px;
	left: -130px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 16px;
	background: red;
	padding: 20px;
	border-radius: 20px;
	background: rgb(223,22,22);
	background: linear-gradient(45deg, rgba(223,22,22,1) 0%, rgba(167,0,31,1) 49%);
	white-space: nowrap;
	
	&.animate {
		animation: swipeLeft 3s ease-in-out;
	}
}

@keyframes swipeLeft {
	0% {
		left: -130px;
		display: block;
		opacity: 0.3;
	}

	25% {
		left: 50%;
		opacity: 0.8;
	}

	75% {
		left: 50%;
		opacity: 0.8
	}

	100% {
		left: calc(100vw + 100px);
		opacity: 0.3;
	}
}