@import '../../general/colors.scss';

.card {
	width: 500px;
	height: 500px;
	border-radius: 100%;
	position: relative;

	&Index {
		position: absolute;
		font-size: 200px;
		color: $baby-blue;
		margin: 0;
		z-index: 0;
		left: 0;
		top: -100px;
	}

	&Background {
		z-index: 3;
		border-radius: 100%;
		height: 500px;
		width: 500px;
		background-size: cover;
	}

	&Title {
		font-size: 50px;
		color: $white;
		transform: translate(-50%, -50%);
		position: relative;
		top: 50%;
		left: 50%;
		text-align: center;
		width: 50%;
	}
}

.cardProject {
	display: flex;
	justify-content: center;
	position: relative;
	height: 650px;
	width: 650px;
	margin: auto;
}

.cardProject.cardHide {
	display: none;
}

.cardSkills {
	-webkit-clip-path: polygon(0% 6%, 98% 0, 100% 100%, 0% 94%);
	clip-path: polygon(0% 6%, 98% 0, 100% 100%, 0% 94%);
	background: $baby-blue;
	padding: 25px;
	width: 280px;
	position: relative;	
	margin-left: auto;
	left: 50%;
	top: 50%;
	display: flex;
	flex-direction: column;

	&Header {
		color: $light-blue;
		font-weight: 800;
		text-transform: uppercase;
	}

	&Text {
		color: $light-blue;
		font-style: italic;
		margin-top: 0;
	}

	&._about {
		position: relative;
		left: 0;
		align-self: flex-end;
		margin-left: 0;
		right: 10px;
		width: 266px;
		box-sizing: border-box;
		clip-path: polygon(2% 0%, 98% 3%, 100% 97%, 0% 100%);
		left: -40px;
	}

	&._projects {
		position: absolute;
		bottom: 0;
		right: -70px;
		z-index: 5;
		align-self: center;
		left: auto;
		top: auto;
		margin-left: 0;
	}
}
