
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.content {
	display: block;
	margin: auto;
	min-height: calc(100vh - 131px);
	background: rgb(69,216,255);
	background: linear-gradient(180deg, rgba(69,216,255,1) 35%, rgba(255,255,255,1) 24%);

	@include for-desktop {
		background: rgb(69,216,255);
		background: linear-gradient(180deg, rgba(69,216,255,1) 45%, rgba(255,255,255,1) 24%);
	}

	&.no-footer {
		background: $light-blue;
		min-height: calc(100vh - 131px);
	}
}

.no-scroll-y {
	overflow-y: hidden;
}

.header {
	display: flex;
	align-items: center;
	padding: 10px;

	&Toggle {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		position: relative;
		height: 30px;
		
		&.open {
			height: 6px;
		}

		@include for-phone {
			display: none;
		}

		&Container {
			height: 30px;
			display: flex;
			align-items: center;
		}
	}

	&List {
		display: none;
		flex-direction: column;
		padding-right: 0;

		@include for-phone {
			display: flex;
			flex-direction: row;
			list-style-type: none;
			margin: 0;
			justify-content: flex-end;
			padding: 15px  0px 15px 5px;
			font-size: 14px;
			margin-left: auto;
		}

		&.open {
			display: flex;
			position: absolute;
			top: 30px;
			padding: 0;
			height: 100vh;
			left: 0;
			width: 100vw;
			z-index: 10;
			background: linear-gradient(to top, #01dabc, #45d8ff);
			list-style-type: none;
		}
	}

	&Item {
		height: auto;
		width: 100px;
		text-transform: uppercase;
		padding: 10px 20px;
		color: $white;
		cursor: pointer;
		
		@include for-mobile-only {
			display: flex;
			justify-content: center;
			align-items: center;
			width: auto;
			margin: 22px auto;
			background: #FFF;
			-webkit-clip-path: polygon(4% 11%, 96% 0, 100% 100%, 0% 100%);
			clip-path: polygon(4% 11%, 96% 0, 100% 100%, 0% 100%);
			position: relative;
			transition: clip-path .5s linear;
			color: $tranquility;

			&:first-child {
				margin-top: 120px;
			}

			a {
				color: $tranquility;
			}
		}


		&:hover {
			-webkit-clip-path: polygon(0 0, 100% 13%, 86% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 13%, 86% 100%, 0% 100%);
		}
	}

	&Line {
		height: 2px;
		width: 36px;
		background-color: $white;
		position: relative;

		&Top {
			transition: top .5s ease-in, transform .2s ease-in;

			&.open {
				transform: rotate(405deg);
				top: 4px;
			}
		}
		
		&Middle {
			transition: opacity .1s ease-in, transform .2s ease-in;
			&.open {
				transform: rotate(360deg);
				opacity: 0;
			}
		}

		&Bottom {
			transition: top .5s ease-in, transform .2s ease-in;
			&.open {
				transform: rotate(315deg);
				top: 0;
			}
		}
	}

	&Name {
		display: block;
		margin: 0 auto;
		padding-left: 36px;
		@include Text(31px, bold, center, $white, $firasans);
		@include for-phone {
			display: none;
		}
	}
}