@import '../../general/colors.scss';

.header {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	background-color: $light-blue;
	margin: 0;
	justify-content: flex-end;
	padding: 15px  54px 15px 5px;
	font-size: 14px;

	&Item {
		margin: 0 10px;
	}
}