@import '../../general/colors.scss';

.footer {
	width: 100%;
	height: 64px;
	background: $turqiouse;
	display: flex;
	justify-content: center;

	&Item {
		border-radius: 90px;
		background: $white;
		width: 45px;
		height: 45px;
		margin: 0 10px;
	}
}