@mixin h1() {
    font-size: 48px;
    color: #FFF;
}

@mixin h2() {
    font-size: 36px;
    color: #FFF;
}

@mixin h3() {
    font-size: 24px;
    color: #FFF;
}

@mixin h4() {
    font-size: 20px;
    color: #FFF;
}

@mixin h5() {
    font-size: 18px;
    color: #FFF;
}

@mixin p() {
    font-size: 16px;
    color: #FFF;
}

@mixin label() {
    font-size: 12px;
    color: #FFF;
}

@mixin button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    outline-width: 0;
    cursor: pointer;
}

h1 {
    @include h1();
}

h2 {
    @include h2();
}

h3 {
    @include h3();
}

h4 {
    @include h4();
}

h5 {
    @include h5();
}

p {
    @include p();
}

label {
    @include label();
}

button {
    @include button();
}

@mixin fontFiraSansExtraCondensed($font-size, $color, $font-weight) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
}

@mixin fontFiraSansCondensed($font-size, $color, $font-weight) {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
}

@mixin fontOpenSans($font-size, $color, $font-weight) {
    font-family: OpenSans;
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
}