
body {
  position: relative;
  height: 100%;
  background: #01dabc;
}
.App {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  background-size: 100px;
}

.content {
  min-height: calc(100vh - 297px);
  max-width: 1200px;
  margin: auto;
  padding-bottom: 220px;
}

