@import '../../general/main.scss';

.background {
	position: absolute;
	z-index: 2;
	overflow: hidden;
	top: 200px;

	
	@include for-desktop {
		top: auto;
	}

	&About {
		top: auto;
		bottom: auto;
	}

	img {
		position: absolute;
	}

	.backWave {
		top: 36px;
	}

	.middleWave {
		top: 76px;
	}

	.frontWave {
		top: 50px;
	}

	&Overlap {
		overflow: hidden;
		width: 100vw;
		top: 20px;
		height: 100vh;
		height: 560px;

		@include for-desktop {
			width: calc(100vw - 17px);
			height: 1200px;
		}

		&About {
			height: 620px;
		}
	}
}

.wave {
	width: 100vw;
	transform: scale(1.2, 1.2);
	height: auto;
}