@import '../../general/main.scss';

.background {
	position: absolute;
	z-index: 0;
	overflow: hidden;
	top: 200px;

	@include for-desktop {
		top: 420px;
		right: 0;
		left: 0;
	}

	&About {
		overflow: hidden;
		bottom: 64px;
		top: auto;

		@include for-desktop {
			overflow: hidden;
			top: 280px;
			overflow-x: hidden;
			height: 100%;
			bottom: auto;
			left: 0;
		}
		
		@include for-desktop-wide {
			top: 440px;
			height: 59%;
		}
	}

	img {
		position: absolute;
	}

	.backWave {
		top: 76px;
	}

	.middleWave {
		top: 140px;
	}

	.frontWave {
		top: 86px;
	}

	&Overlap {
		overflow: hidden;
		width: 100vw;
		top: 20px;
		height: 100vh;
		height: 560px;
		
		@include for-desktop {
			width: calc(100vw - 17px);
			height: 1200px;
		}
		
		@include for-desktop-wide {
			width: 100vw;
		}

		&About {
			bottom: 0;
			top: auto;
			height: 260px;
			overflow: hidden;
			height: 223px;

			@include for-desktop {
				overflow: visible;
				height: auto;
			}
		}
	}
}

.wave {
	width: 100vw;
	transform: scale(1.2, 1.2);
	height: auto;
}